body{
    background-color: bisque;
    margin: 0;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 10vh;
    background-color: rgb(240, 215, 185);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
}

.nav-items ul{
    display: flex;
    flex-direction: row;
    gap: 5vh;
    margin-right: 5vh;
    list-style-type: none;
    align-items: center;
}

.nav-items a{
    text-decoration: none;
    font-size: 2vh;
    margin-right: 5vh;
}

.nav-items button{
    background-color: rgb(109, 109, 0);
    color: white;
    width: 15vh;
    height: 4vh;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.read{
    color: rgb(109, 109, 0);
}

.logout{
    color: rgb(179, 0, 0);
}

.logo{
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    gap: 1vh;
    text-decoration: none;
    color: black;
    font-size: 2vh;
}

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-list{
    top: 10vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    padding-bottom: 5vh;
}

.book-list h1 {
    margin-block-start: 7vh;
    font-size: 3.5rem;
}

.book-list h2 {
    font-size: 2rem;
}

.item{
    display: grid;
    grid-template-columns: 12vh 60vh;
    margin-block: 0;
    cursor: pointer;
    border: 2px solid rgb(92, 92, 0);
    background-color: rgb(255, 235, 211);
    border-radius: 15px;
    padding: 1.5%;
}

.item p {
    margin: 0;
}

.title-item{
    font-weight: bold;
    font-size: 1.2rem;
    grid-column: 2;
}

.author-item{
    color: rgb(109, 109, 0);
    grid-column: 2;
}

.rating{
    color: rgb(109, 109, 0);
    grid-column: 2;
}

.description-item{
    grid-column: 2;
}

.add-item{
    grid-column: 2;
}

.book-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(109, 109, 0);
    height: 9vh;
    aspect-ratio: 1/1;
    grid-column: 1;
    grid-row: 1/6;
    border-radius: 18px;
}

.book-list a {
    text-decoration: none;
    color: black;
}

.book-item img{
    height: 60%;
    width: 60%;
}

.button-book{
    position: fixed;
    display: none;
    top: 12vh;
    right: 3vh;
    height: 40vh;
    width: 40vh;
    background-color: rgb(255, 235, 211);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    border: 2px solid rgb(92, 92, 0);
    z-index: 1000;
}

.content-new-book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5vh;
}

.add-book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.input-new{
    background-color: bisque;
    height: 3vh;
    width: 30vh;
    border: none;
    border-radius: 8px;
    padding-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.submit-new{
    height: 4vh;
    width: 15vh;
    background-color: rgb(109, 109, 0);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 10000;
}

#new-description{
    resize: none;
    height: 10vh;
}

.book-page{
    top: 15vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-page h1{
    font-size: 2.25rem;
}

.book-details{
    width: 60vh;
    display: grid;
    grid-template-columns: 15vh ;
}

.book-title{
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-columns: 22vh;
    flex-direction: column;
    justify-content: left;
}

.book-title h1{
    margin-block: 0;
    grid-column: 1;
}

.book-title h2{
    margin-block: 0;
    color: rgb(109, 109, 0);
    grid-column: 1;
}

.book-title form{
    height: 100%;
    grid-row: 1/3;
    grid-column: 2;
}

.book-title button{
    height: 2.5rem;
    width: 12vh;
    font-size: 1.2rem;
    background-color: rgb(172, 44, 44);
    color: white;
    border-radius: 20px;
    font-family:'Times New Roman', Times, serif;
    border: none;
    margin-top: 5vh;
    margin-left: 2.2vh;
    cursor: pointer;
}

.book-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(109, 109, 0);
    height: 80px;
    width: 80px;
    grid-column: 1;
    grid-row: 1;
    border-radius: 18px;
}

.book-icon img{
    height: 80%;
}

.book-description{
    grid-column: 1/3;
    word-break: break-all;
}

.book-description p{
    font-size: 1.3rem;
}

.book-description span{
    font-size: 1.3rem;
}

.book-notes{
    width: 70vh;
    justify-content: left;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 5vh;
}

.note{
    display: grid;
    background-color: rgb(223, 209, 192);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    padding: 2vh;
    word-break: break-all;
}

.note p{
    margin-block: 0.5vh;
    grid-column: 1;
}

.note h3{
    color: rgb(109, 109, 0);
    margin-block: 1vh;
    grid-column: 1;
}

.note button{
    grid-column: 2;
    background-color: bisque;
    color: rgb(179, 0, 0);
    border: 0;
    cursor: pointer;
}

.new-note{
    width: 70vh;
    justify-content: left;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

#new-note{
    width: 100%;
    height: 18vh;
    resize: none;
    background-color: rgb(223, 209, 192);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    margin-bottom: 1vh;
}

.new-note-box button{
    height: 5vh;
    width: 15vh;
    color: white;
    background-color: rgb(109, 109, 0);
    border: none;
    border-radius: 20px;
}

.sidebar-item{
    display: none;
}

.sidebar-item button{
    position: fixed;
    top: 1.5%;
    right: 3vh;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background-color: rgb(255, 235, 211);
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    cursor: pointer;
}

.sidebar-item img{
    height: 2.8vh;
}

.sidebar{
    display: none;
    position: fixed;
    height: 26vh;
    background-color:rgb(255, 235, 211);
    z-index: 1500;
    width: 30vh;
    top: 12vh;
    right: 2vh;
    border-radius: 15px;
    border: 2px solid rgb(92, 92, 0);
}

.sidebar ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    font-size: 2.5vh;
    margin-top: 22%;
}

.sidebar a{
    text-decoration: none;

}

.add-book-btn{
    background-color: rgb(92, 92, 0);
    color: white;
    border: none;
    border-radius: 15px;
    height: 5vh;
    width: 60%;
    font-size: 0.9rem;
}

.exit-button {
    height: 4vh;
    width: 4vh;
    border: none;
    border-radius: 100px;
    background-color: bisque;
    position: absolute;
    right: 2vh;
    top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    color: rgb(92, 92, 0);
}

.exit-button img{
    height: 2.5vh;
}

.read-welcome{
    top: 10vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-criteria{
    border: 2px solid rgb(92, 92, 0);
    background-color: rgb(255, 235, 211);
    border-radius: 15px;
    padding: 1.5%;
}

.criteria-form{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    font-size: 1.3rem;
}

.criteria-form input{
    height: 2rem;
    width: 20vw;
    background-color: bisque;
    border: 1px solid rgb(92, 92, 0);
    border-radius: 12px;
}

.criteria-form button{
    height: 2rem;
    width: 20vw;
    background-color: rgb(109, 109, 0);
    border: 1px solid rgb(92, 92, 0);
    border-radius: 12px;
    color: white;
}

.recommendation{
    display: grid;
    grid-template-columns: 12vh 30vh;
    margin-block: 0;
    border: 2px solid rgb(92, 92, 0);
    background-color: rgb(255, 235, 211);
    border-radius: 15px;
    padding: 1.5%;
    margin-top: 3%;
}

.error-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(179, 0, 0);
    background-color: rgb(255, 235, 211);
    border-radius: 15px;
    padding: 1.5%;
    margin-top: 0%;
    color: rgb(179, 0, 0);
}

.search-books {
  position: relative;
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
}

.search-input{
    width: 100%;
    padding: 12px 40px 12px 15px; /* padding-right for icon space */
    border-radius: 25px;
    border: 2px solid rgb(109, 109, 0);
    font-size: 1rem;
    background-color: rgb(240, 215, 185);
    outline: none;
}

.search-input::placeholder{
    color: rgb(39, 39, 39);
}

.search-button {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  background-color: rgb(109, 109, 0);
  height: 97%;
  width: 15%;
  border-end-end-radius: 25px;
  border-start-end-radius: 25px;
}

.search-button img {
  height: 20px;
  opacity: 0.7;
}

.container-no-books {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
}

.container-no-books img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media(max-width: 850px) {
    .item{
        grid-template-columns: 12vh 25vh;
    }

    .nav-items{
        display: none;
    }

    .book-details,
    .book-notes,
    .new-note {
        width: 90vw;
        padding: 1rem;
    }

    .criteria-form button,
    .criteria-form input {
        width: 80vw;
    }

    .book-list{
        gap: 3vh;
    }

    .book-list h1 {
        font-size: 8vw;
    }

    .book-list h2 {
        font-size: 5vw;
    }

    .item{
        padding: 3%;
    }

    .book-title button{
        height: 2.5rem;
        width: 100%;
        font-size: 1.2rem;
        background-color: rgb(172, 44, 44);
        color: white;
        border-radius: 20px;
        font-family:'Times New Roman', Times, serif;
        border: none;
        margin-top: 1.5vh;
        margin-left: 0;
        cursor: pointer;
    }

    .book-title form{
        grid-row: auto;
        grid-column: 1;
    }

    .sidebar-item{
        display: flex;
    }

    .container-no-books img {
        width: 60vw;
        height: auto;
    }
}